.App {
  background-color: #fefdfd;
  min-height: 100vh;
}

.Body {
  margin-top: 80px;
  padding-top: 40px;
}

.Border {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Alert {
  background-color: rgba(249, 252, 91, .5);
  border-color: rgba(249, 252, 91, .5);
  color: rgba(65, 53, 17, .8);
  font-weight: bold;
}