/* Comment Styling */
.Comment {
  text-align: left;
  font-size: 1em;
}

.Owner {
  font-weight: bold !important;
  text-decoration: none !important;
  color: #201624;
}

.Updated {
  color: #763b9b;
  text-align: right;
}

.Body {
  font-size: 0.85em;
  word-break: break-all;
}