.Post {
  background-color: #ffffff;
  margin: 16px 0;
  color: #3f2c47;
}

.PostBio{
  margin: 16px 0;
}

.PostLink {
  text-decoration: none;
  color: #3f2c47;
  word-break: break-all;
}

.PostLink:hover{
  color: #807685;
}

.PostImage {
  width: 100%;
}

.Heart {
  color: #CB1B1B;
}

.Heart:hover {
  color: #D97E7E;
}

.HeartOutline:hover {
  color: #CB1B1B;
}

.PostBody {
  text-align: start;
  word-break: break-all;
}

.SharePopover {
  background-color: #3f2c47;
  color: #fefdfd;
  padding: 5px;
}

.PostBar{
  font-size: small;
}

.Gallery {
  padding-bottom: 3rem;
}

.GalleryItem {
  max-width: 33%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 0 31%;
  margin: 1%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px)  {

  .GalleryItem {
    margin: 5px 5px 5px 5px;
  }

  .PostBar{
    font-size: xx-small;
  }
}
