/* PostDiscover Styling */
.Border {
  border: 1px solid #3f2c47;
  border-radius: 3px;
}

.Link {
  text-decoration: none;
  color: #3f2c47;
  text-align: center;
}

.Link:hover{
  color: #807685;
}

.SearchBar input {
  border-radius: 3px;
  color: #3f2c47;
  padding-left: 42px;
  margin-bottom: 16px;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}

.InfiniteScroll {
  overflow: visible !important;
}